@media screen and (width<720px) { 
    #font-q li, h7 {
        transition: all 0.3s;
        font-size: 0.6em;
    }

    img[alt=facebook], img[alt=instagram], img[alt=twitter], img[alt=youtube] {
        width: 0.8em;
    }   

    img[alt=movie]{
        width:  10em;
    }
}
@media screen and (1024px<width) { 

img[alt=movie]{
        width:  23%;
        height: 10em;
    }
}
