

img[alt=logo] {
    height: 65px;
}

.list {
    position: relative;
}

.list ul {
    position: absolute;
}

img[alt=facebook] {
    position: relative;
    top: 1em;
    left: 3em;
    width: 2em;
}

img[alt=instagram] {
    position: relative;
    top: 1em;
    left: 5em;
    width: 2em;
}

img[alt=twitter] {
    position: relative;
    top: 1em;
    left: 7em;
    width: 2em;
}

img[alt=youtube] {
    position: relative;
    top: 1em;
    left: 9em;
    width: 2em;
}

img[alt=movie] {
    width:  11.5em;
    height: 8em;
    margin: .20em;
}
